body {
            background-color: rgb(24, 24, 24);
            color: white;
            font-family: sans-serif;
        }

        .title {
            font-size: 30px;
            font-weight: bold;
        }

        .move-icon {
            width: 50px;
            height: 50px;
        }

        .move-button {
            background-color: transparent;
            border: 3px solid white;
            width: 120px;
            height: 120px;
            border-radius: 60px;
            margin-right: 10px;
            cursor: pointer;
        }

        .result {
            font-size: 25px;
            font-weight: bold;
            margin-top: 50px;
        }

        .score {
            margin-top: 60px;

        }

        .reset-score-button {
            background-color: rgb(255, 213, 0);
            color: rgb(255, 255, 255);
            border: none;
            font-size: 15px;
            font-weight: bold;
            padding: 8px 15px;
            cursor: pointer;
            border-radius: 5px;
        }